{

       "gwas_groups": 
	{
		"all-gwas":
		{
			"files": [
					"/users/mgloud/projects/gwas/data/munged/GWAS_Parkinsons_Pankratz_2012.txt.gz",
					"/users/mgloud/projects/gwas/data/munged/GWAS_Alzheimers_Lambert_2013.txt.gz",
					"/mnt/lab_data/montgomery/mgloud/gwas/data/munged/new/GWAS_Alzheimers_Jansen_2018.txt.gz",
					"/users/mgloud/projects/ad-pd/data/gwas/prepared/23andme_PD.txt.gz",
					"/users/mgloud/projects/ad-pd/data/gwas/prepared/GWAS_Kunkle2019.txt.gz"
				],
			"gwas_cutoff_pvals": [1e-5],
			"gwas_windows": [500000],
			"eqtl_targets":
			{
				"gtex-brain":
				{
					"cutoff_pvals": [1e-5],
					"windows": [0]
				}
			}
		}
	},
       "eqtl_groups": 
	{
		"gtex-brain":
		{
			"files": [
				"/users/mgloud/projects/brain_gwas/data/eqtls/gtex_v7/Brain*.gz"	
			]
		}
	},
	"output_directory": "/users/mgloud/projects/coloc_comparisons/output/test-snps",
	"output_base" : "real-data-tests"
}
