{
	"gwas_reference_files": ["/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_Yengo_BMI+Height_2018.txt.gz"],
	"gwas_threshold": 1e-7,
	"window": 500000,

	"total_test_sites": 10000,

	"p_gwas_causal": 0.5,
	"p_eqtl_causal_given_gwas_causal": 0.8,
	"p_eqtl_causal_given_no_gwas_causal": 0.3,
	"p_same_causal_given_both_causal": 0.5,

	"max_ld_for_different_causal": 0.95,

	"gwas_relative_risk": 0.5,
	"eqtl_effect_size": 0.2,
	"gwas_control_sample_size": 1000,
	"gwas_case_sample_size": 1000,
	"eqtl_sample_size": 2000 
	
}
