{
	"gwas_reference_files": ["/mnt/lab_data/montgomery/mgloud/gwas/data/munged/GWAS_Yengo_BMI+Height_2018.txt.gz"],
	"gwas_threshold": 1e-7,
	"window": 500000,

	"total_test_sites": 10000,

	"p_gwas_causal": 0.5,
	"p_eqtl_causal_given_gwas_causal": 0.7,
	"p_eqtl_causal_given_no_gwas_causal": 0.3,
	"p_same_causal_given_both_causal": 0.2,

	"gwas_min_effect_size": -0.3,
	"gwas_max_effect_size": 0.3,
	"eqtl_min_effect_size": -1,
	"eqtl_max_effect_size": 1,
	"gwas_min_control_log_sample_size": 2,
	"gwas_max_control_log_sample_size": 4.5,
	"gwas_min_case_log_sample_size": 2,
	"gwas_max_case_log_sample_size": 4.5,
	"eqtl_min_log_sample_size": 1.5,
	"eqtl_max_log_sample_size": 4,
	"min_thinning_factor": 0.1,
	"max_thinning_factor": 1
}
