{
        "sim_base_dir": "/users/mgloud/projects/coloc_comparisons/output/simulations/2018-07-27_15-23-15",

        "max_threads": "1",

        "num_tests": "10000",

        "coloc_settings":
        {
	    "out_dir_group": "simulation-coloc-comparisons",
	    "selection_basis": "snps_from_list",
            "selection_thresholds":
            {
                "eqtl": 1,
                "gwas": 1
            },

            "gwas_experiments": 
            {
            },
            
            "eqtl_experiments":	
            {
            },

            "methods": 
            {
                    "baseline":{},
		    "rtc": {},
		    "smr": {},
		    "coloc": {},
		    "twas": {},
		    "gsmr": {},
                    "finemap": {}
            },

            "ref_genomes": 
            {
                    "1kgenomes": 
                    {
		    	"file": "/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",
			"af_attribute": "AF",	
			"N": "2504"
		    },
		    "ref-file":
		    {
		    	"file": "{1}/hg19/eqtl/eqtl_genotypes{0}.vcf.gz", 
		    	"filtered_by_af": "True",
		    	"chr_prefix": "chr",
			"af_attribute": "",
			"N": "1000"
		    }
	    }
	}
}

